
.tablify {

  // entry menu
  .entry_menu {
    width: 25px;
    cursor: pointer;
    background-color: @baseContrastTransparent !important;
  }
  .entry_menu span {
    display: none;
  }
  .entry_menu:hover span {
    display: block;
  }

}
