
.tablify-display-utilities-vignette {

  //\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
  //\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
  //                                                  DIMENSIONS
  //\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/

  @imageHeight: 7em;
  @margin: 0.8em;
  @titleHeight: 3.2em;

  // .sizeDefs(@imH: 7em, @marg: 0.8em, @titH: 3.2em) {
  //   @imageHeight: @imH;
  //   @margin: @marg;
  //   @titleHeight: @titH;
  // }
  // .tablify-entry-size-S {
  //   .sizeDefs(5em, 0.5em, 2.5em)
  // }
  // .tablify-entry-size-M {
  //   .sizeDefs(7em, 0.8em, 3.2em)
  // }
  // .tablify-entry-size-L {
  //   .sizeDefs(10em, 1.1em, 4em)
  // }

  //\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
  //\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
  //                                                  ENTRY
  //\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/

  tbody {
    text-align: center;
    padding-top: 0.8em;
  }

  .tablify-group {
    .back.primary();
  }

  .tablify-entry {
    display: inline-block;
    vertical-align:top;
    width: @imageHeight + (@margin * 2);
    height: @imageHeight + (@margin * 2) + @titleHeight;
    margin: @margin;
    padding: @margin;
    text-align: center;
    cursor: pointer;
    background-color: @baseTransparentLess;
    .back.hover();
    // .front.primaryAndHover();
    // .back.primaryAndHover();

    &.selected {
      outline: @selectedTransparentLess 5px solid;
    }

    .image {
      font-size: @imageHeight;
      width: 1em;
      height: 1em;
      position: relative;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      .image-multifolder_icon {
        position: absolute;
        bottom: -3px;
        right: -3px;
        font-size: .7em;
        color: @primary;
      }
    }

    .title {
      padding-top: 0.5em;
      font-size: 1.5em;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    .subtitle {
      font-size: 1em;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

  }

  //\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
  //\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/

}
