@import "./utilities/vignette";

.tablify-gallery {

  // apply default vignette styles
  .tablify-display-utilities-vignette();

  // and customize them
  @widtheight: @imageHeight * 1.8;
  .tablify-entry {
    height: @widtheight + (@margin * 2) + @titleHeight;
    width: @widtheight + (@margin * 2);
    .image { font-size: @widtheight; }
  }

}
