@import "./utilities/vignette";

.tablify-list {

  // use prepared style for vignette
  .tablify-display-utilities-vignette();

  // and customize them
  .tablify-entry {

    display: flex;
    width: calc(100% - (@margin * 2));
    height: (@imageHeight * 0.7) + (@margin * 2);

    .image {
      font-size: (@imageHeight * 0.7);
    }

    .titles {

      padding: 0 1em;
      text-align: left;
      font-size: 1.2em;
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
      flex: 1; // make it fill all available width

      .title {
        font-family: @basefontBold;
        padding-top: 0;
      }

    }

    .uify-button {
      padding-top: @margin;
      font-size: (@imageHeight * 0.3);
    }

  }

}
