
@import (inline) "leaflet/dist/leaflet.css";

.tablify-map {

  .tablify-leaflet-map {
    width: 100%;
    height: 100%;
  }

  .no_entries-message {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
  }

  .tablify-entry {
    position: absolute !important; // otherwise markers are mispositionned, because they have "position: relative"
    &.leaflet-marker-icon {
      background-size: cover;
      background-position: center;
    }
  }

  .selected {
    // FOR MARKERS
    color: @selected !important;
    // FOR OTHER SHAPES
    stroke: @selected !important;
    // FOR MARKERS WITH IMAGE
    &.marker-with-image { outline: @selected solid !important; }
  }

}
