@import "./list";

.tablify-microlist {

  // use style from list
  .tablify-list();

  // and customize them
  .tablify-entry {
    margin: @margin * 0.4;
    padding: @margin * 0.4;
    height: (@imageHeight * 0.15) + ((@margin * 0.4) * 2);

    .titles {
      font-size: .7em;
      .title {
        margin-top: -(@margin * 0.3);
      }
      .subtitle { display: none; }
    }

    .image {
      font-size: (@imageHeight * 0.15);
    }

    .uify-button {
      padding-top: @margin * 0.4;
      font-size: (@imageHeight * 0.11);
    }

  }

}
