
@tablifyHeadHeight: 20px;

.tablify-table {

  table {
    display: block;
    text-align: center;
    // both head and body
    thead, tbody tr {
      display: table;
      table-layout: fixed;
      width: 100%;
      cursor: pointer;
      &.selected {
        background-color: @selectedTransparentLess !important;
        color: @selectedContrast !important;
      }
    }
    td {
      outline: 1px solid @base;
      .color {
        padding: 2px;
      }
      .file_name.block {
        display: block;
      }
      .file_name.inline {
        padding-left: 5px;
      }
    }
    td, th {
      padding-left: 4px;
      padding-right: 4px;
    }
    // head
		thead {
      height: @tablifyHeadHeight;
      cursor: pointer;
      width: 100%;
      &.tbody_has_scroll {
        width: calc(~"100% - "@scrollBar);
      }
      .back.base();
      .active {
        .back.selected() !important;
      }
      th {
        border-left: 1px solid @baseContrast;
        border-right: 1px solid @baseContrast;
        .back.hover() !important;
      }
		}
    // body
    tbody {
      height: calc(~"100% - "@tablifyHeadHeight);
    }
  }

  // even and odd lines
  tr:nth-child(odd) {
    background-color: @baseTransparent;
  }
  tr:nth-child(even) {
    background-color: @baseTransparentLess;
  }

}
