@import "./list";

.tablify-thinlist {

  // use style from list
  .tablify-list();

  // and customize them
  .tablify-entry {

    height: (@imageHeight * 0.4) + (@margin * 2);

    .title {
      margin-top: -(@margin * 0.5);
    }

    .image {
      font-size: (@imageHeight * 0.4);
    }

    .uify-button {
      padding-top: @margin;
      font-size: (@imageHeight * 0.2);
    }

  }

}
