@import "./list";

.tablify-tinylist {

  // use style from list
  .tablify-list();

  // and customize them
  .tablify-entry {
    margin: @margin * 0.6;
    padding: @margin * 0.6;
    height: (@imageHeight * 0.25) + ((@margin * 0.6) * 2);

    .titles {
      font-size: .8em;
      .title {
        margin-top: -(@margin * 0.5);
      }
    }

    .image {
      font-size: (@imageHeight * 0.25);
    }

    .uify-button {
      padding-top: @margin * 0.6;
      font-size: (@imageHeight * 0.15);
    }

  }

}
