
.tablify .table-footer {

  height: @tablifyFooterHeight;
  width: 100%;
  bottom: 0;
  position: absolute;
  // text-align: right;
  background-color: @base;
  display: flex;

  //
  //                              ICON/THUMBNAIL

  .footer-icon, .footer-image {
    flex: 0;
    padding-left: 0.4em;
    pointer-events: none;
  }
  .footer-icon {
    font-size: 2em;
    line-height: 1.4;
    margin-top: -0.6em;
  }
  .footer-image {
    width: 2em;
    max-height: 2em;
    margin-top: -0.8em;
  }

  //
  //                              TITLE

  .footer-title {
    flex: 3;
    font-size: 200%;
    padding-left: 0.4em;
    margin-top: -0.8em;
    line-height: 1.6;
    pointer-events: none;
  }

  //
  //                              SPECIAL MODE AND FILTER

  .footer-special_mode, .footer-filter {
    flex: 2;
    cursor: pointer;
    & > span {
      background-color: @warning;
      color: @warningContrast;
      padding: 0 0.4em;
      .footer-cross_icon {
        opacity: 0;
        font-size: 80%;
        padding-left: 0.4em;
      }
      &:hover .footer-cross_icon { opacity: 1; }
    }
  }

  //
  //                              COUNT

  .footer-count {
    // flex: 2; // removed otherwise it doesn't display full even if there is space for it
    text-align: right;
    overflow: hidden;
  }

  //                              ¬
  //

}
