
.tablify-shortcuts-table {

  width: 100%;

  .combo {
    text-align: left;
    font-family: @basefontMonospace;
    min-width: 10em;
  }

  .action {
    text-align: left;
    padding-left: 1em;
  }

}
