@import "uify/styles/index";
@import "uify/styles/extension/differences";
@import "toolbarify/styles/index";
@import "stylectrode/index";
@import "dialogify/styles/index";
@import "postify/styles/index";
@import "viewify/styles/index";
@import "graphify/styles/index";

@import "./toolbar";

@tablifyFooterHeight: 1.6em;

// aliasing and sorting drag actions
html.tablify-movement-alias .tablify-entry { cursor: copy; }
html.tablify-movement-sort  .tablify-entry { cursor: move; }
html .tablify .special_mode-organize .tablify-entry { cursor: move; }

// global settings for tablify container
.tablify {

  width: 100%;
  height: 100%;
  overflow: hidden !important;
  display: block;
  color: @baseContrast;

  // control tab character width in any subelement
  -moz-tab-size: 3; // firefox still doesn't seem to support tab-size !??
  tab-size: 3;

  .tablify-customized_body_header {
    padding: 1em;
    background-color: @baseTransparent;
  }

  table {
    width: 100%;
    z-index: 0;
    height: calc(~"100% - "@tablifyFooterHeight);
    overflow: auto;
    display: block;
    border-collapse: collapse;
    position: relative;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    .background-credits {
      // pointer-events: none;
      // a { pointer-events: auto; }
      // background-color: rgba(255,255,255,0.3);
      color: rgba(0,0,0,0.5);
      a { color: rgba(0,0,0,0.8); }
      a:hover { color: @primary; }
      position: absolute;
      bottom: 0.8em;
      left: 0.8em;
      text-align: left;
    }

    tbody {

      display: block;
      height: 100%;
      overflow: auto;

      .no_entries-message {
        margin-top: 40vh;
        font-size: 1.6em;
        .uify-button { display: inline-flex; font-size: 0.8em; }
      }

      &.special_mode_on {
        border-style: dotted;
        border-width: 3px;
        &.special_mode-organize { border-color: @selected; }
      }

      .tablify-entry {
        position: relative;
        z-index: 1;
        user-select: none; // prevent selecting text in entries when double clicking them to open them
        & > .titles { min-width: 0; }
      }
      .tablify-group {
        font-size: 150%;
        font-weight: bold;
        position: relative;
        z-index: 1;
        background-color: @primaryTransparent;
        color: @primaryContrast;
        margin-top: 1em;
      }
      .tablify-group:first-child { margin-top: 0; }
      .see_after {
        padding: 10px;
        font-size: 120%;
        cursor: pointer;
        span {
          background-color: @primaryTransparent;
          color: @primaryContrast;
          .back.hover();
          padding: 2px 5px;
        }
      }

      .uify-fab {
        z-index: 2000;
      }

    }
  }
  table.path_database {
    height: calc(~"100% - "@tablifyFooterHeight - @tablifyPathbarHeight);
  }

  // hidden entries and their displaying
  .tablify-entry.tablify-hidden_element {
    transition-property: opacity;
    transition-duration: 500ms;
    &.tablify-hidden_element-hidden {
      pointer-events: none;
      display: none;
    }
  }

}

// path bar
@import "./pathbar";
// footer
@import "./footer";
// help
@import "./help";
// tutorial
@import "./tutorial";

// different types of display
@import "./layouts/free";
@import "./layouts/gallery";
@import "./layouts/list";
@import "./layouts/map";
@import "./layouts/microlist";
@import "./layouts/table";
@import "./layouts/thinlist";
@import "./layouts/thumbnails";
@import "./layouts/tinylist";
