
@tablifyPathbarHeight: 30px;

.tablify .pathbar {

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: @baseContrast;
  background-color: @base;
  // background-color: @baseTransparent;

  width: 100%;
  height: @tablifyPathbarHeight;
  padding: 0 10px;

  .path {

    flex: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .path_between {
      padding: 5px;
    }
    .path_part {
      padding: 5px;
      .front.primaryAndHover();
      cursor: pointer;
    }

  }

}
